body {
	background: url('../images/circuit.png');
}

header {
	position: relative;
	text-align: center;
	color: gold;
	font-family: Acme;
	font-size: 64px;

}

text {
	position: absolute;
	top: 16px;
	right: 64px;
	
}

.container {
	margin-top: 20px;
	text-align: center;
}

.answerList, .scoreboard {
	font-family: Acme;
    font-size: 30px;
}

.question {
	font-family: Lora;
	font-size: 30px;
}

#message, #currentQuestion {
	font-family: Acme;
	font-size: 22px;
}

#timeLeft, #correctedAnswer {
	font-family: Lora;
	font-size: 25px;
}

.reset {
	background-color: gold;
	color: rgb(0, 12, 175);
	font-family: 'Acme', sans-serif;
	font-size: 40px;
	padding: 20px;
	margin-top: 50px;
}

.reset:hover {
	background-color: goldenrod;
}

.thisChoice:hover {
	background-color: gold;
	color: rgb(0, 12, 175);
}

#gif {
	margin: 30px;
}